<div class="gallery-container">
    <div class="gallery">
        @for (data of galleryData; track data.imageAlt; let i = $index){
        <div class="gallery-image">
            <img (click)="onPreviewImage(i)" [src]="data.imageSrc" [alt]="data.imageAlt">
        </div>
        }
    </div>
    @if (showMask) {
    <div class="preview">
        @if (showCount) {
        <span class="count">{{currentindex +1}} / {{totalImageCount}}</span>
        }
        @if(previewImage) {
        <button class="close-btn" (click)="onClosePreview()">
            <i class="pi pi-times"></i>
        </button>
        }
        @if(controls) {
        <button class="btn-preview-carousel btn-prev" (click)="prevImage()">
            <i class="far fa-arrow-circle-left icon-lightbox-carousel pi pi-arrow-left"></i>
        </button>
        }
        @if(controls) {
        <button class="btn-preview-carousel btn-next" (click)="nextImage()">
            <i class="far fa-arrow-circle-left icon-lightbox-carousel pi pi-arrow-right"></i>

        </button>
        }
        @if(previewImage)
        {
        <div class="preview-img">
            <img [src]="currentPreviewImage.imageSrc" [alt]="currentPreviewImage.imageAlt">
        </div>
        }
    </div>
    }
</div>