.sobre-container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
}
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: #2c3e50;
      text-align: center;
    }
  
    p {
      font-size: 1.125rem;
      line-height: 1.6;
      margin-bottom: 15px;
      color: #34495e;
      text-align: justify;
    }
  
    strong {
      color: #e74c3c;
    }
  
    .versiculo-biblico {
      margin-top: 30px;
      font-size: 1.5rem;
      color: #2c3e50;
      text-align: center;
      border-top: 1px solid #e0e0e0;
      padding-top: 20px;
    }
  

    @media screen and (max-width: 1024px) {
      .sobre-container {
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 3rem;
    }
    }
    
    @media screen and (max-width: 800px) {
      .sobre-container {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
    }
    }
    
    @media screen and (max-width: 650px) {
      .sobre-container {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
    }
    }
    