<div class="about-container">
  <h1>Sobre o Projeto Mutirão de Natal</h1>
  <p>
    O <strong>Mutirão de Natal</strong> é uma iniciativa de amor e solidariedade promovida pela ASA (Assistência Social
    Adventista). Nosso objetivo é arrecadar alimentos e montar cestas básicas que serão distribuídas, não apenas para
    aqueles que enfrentam dificuldades em seu dia a dia, mas também para os marginalizados e esquecidos pela sociedade.
  </p>
  <p>
    Em tempos de festividades, onde a união e a generosidade se destacam, queremos proporcionar um Natal mais digno e
    esperançoso para muitas famílias. O Mutirão de Natal nasce do compromisso com o próximo, onde cada doação se
    transforma em um gesto de carinho e cuidado.
  </p>
  <p>
    Sabemos que cada gesto de solidariedade, por menor que pareça, tem o poder de transformar vidas. Ao participar deste
    projeto, você estará ajudando a construir um futuro mais justo e inclusivo, proporcionando não apenas sustento, mas
    também um sopro de esperança para aqueles que mais precisam.
  </p>
  <p>
    Junte-se a nós nesta corrente do bem e faça parte dessa iniciativa que aquece corações e alimenta esperanças. O
    Mutirão de Natal é mais do que uma campanha de arrecadação; é um movimento de amor que une nossa comunidade em prol
    de um mundo melhor.
  </p>
  <div class="bible-verse">
    <q>
      Dá a quem te pedir, e não te desvies daquele que quiser que lhe emprestes. Mateus 5:42
    </q>
  </div>
</div>

<footer>
  <ul class="social-media">
    <li><a href="https://www.instagram.com/adventistascatalaomg?igsh=b3hwbDJ1NmQ0aTdi" target="_blank"><i
          class="fab fa-instagram"></i></a>
    </li>
    <li><a href="https://www.youtube.com/@AdventistasCatalao-MG" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li><a href="https://www.facebook.com/iasdcentralcatalao/" target="_blank"><i   class="fab fa-facebook"></i></a>
    </li>
    <!-- <li><a href="https://wa.me/" target="_blank" ><i class="fa-solid fa-phone"></i></a></li> -->
    <li><a href="https://www.adventistas.org/pt/" target="_blank"><i class="fa-solid fa-globe"></i></a></li>
  </ul>
  <p class="law">&copy; 2024 Galeria mutirão de natal. Todos os direitos reservados.</p>
</footer>